/target
**/*.rs.bk
Cargo.lock
*.tar.gz
/pkg
/src/*.o
*.swp
.DS_Store
.directory
.cargo-ok
yamli-editor-v*.tar.gz
yamli-editor-*.pkg.tar.zst
yamli-editor-*.deb
yamli-editor-*.rpm
yamli-editor-*.AppImage
.idea/
.vscode/
*.iml
